body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/BG.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div0 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

.div0 img {
    max-width: 350px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

html {
    scroll-behavior: smooth;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #2a9916; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.nav-menu {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 0;
    list-style: none; 
}
.nav-button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 18px 25px; 
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    display: inline-block;
    position: relative; 
    
    transition: color 0.3s ease, background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:last-child {
    border-right: none;
}
.nav-button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffbe30;
}
.nav-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffbe30;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover::after {
    width: 100%;
}
.nav-button.active {
    background: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    box-shadow: inset 0 -3px 0 rgb(245, 44, 44);
}

.content-wrapper {
    background-color: rgba(15, 15, 20, 0.95);
    width: 85%;
    max-width: 850px;
    padding: 40px;
    border-left: 4px solid #39FF14; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9);
    margin: 60px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif; 
    color: #F6BE00; 
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
}

p {
    flex: 1;
    color: white;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    line-height: 1.4;
    text-align: justify;
}

.video-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}